<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Carpooling</h1>
        <p class="lead">Powered by XGrid</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"> Welcome "{{account.login}}" ! </span>
            </div>
            <div *ngIf="account">
                Please select Role below <br>
                <a href="ride/new" class="left-margin"><img width="150" height="150"
                        src="../../content/images/car.svg" /></a>
                <a href="" class="left-margin"> <img width="150" height="150"
                        src="../../content/images/passenger.svg" /></a>
            </div>
        </div>

        <td> <label id="rate">{{msg}}</label></td>
    </div>
</div>