<div>
    <h2 id="page-heading">
        <span>Fav Locations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fav-location"
            [routerLink]="['/fav-location/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
                Create a new Fav Location
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br />
    <div class="alert alert-warning" *ngIf="favLocations?.length === 0">
        <span>No favLocations found</span>
    </div>
    <div class="table-responsive" *ngIf="favLocations?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                    <th scope="col" jhiSortBy="userFirstName"><span>User</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="destinationCity"><span>Destination</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                [infiniteScrollDistance]="0">
                <tr *ngFor="let favLocation of favLocations ;trackBy: trackId">
                    <ng-container *ngIf="userType === 'ADMIN'">
                        <td>
                            <div *ngIf="favLocation.userId">
                                <a
                                    [routerLink]="['/car-pooling-user', favLocation.userId , 'view' ]">{{favLocation.userFirstName}}</a>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="favLocation.destinationId">
                                <a [routerLink]="['/location', favLocation.destinationId , 'view' ]">{{favLocation.destinationCity}}
                                </a>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit" [routerLink]="['/fav-location', favLocation.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline">View</span>
                                </button>
                                <button type="submit" [routerLink]="['/fav-location', favLocation.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="submit"
                                    [routerLink]="['/fav-location', { outlets: { popup: favLocation.id + '/delete'} }]"
                                    replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="userType !== 'ADMIN'">
                        <td>
                            <div *ngIf="favLocation.user.id">
                                <a
                                    [routerLink]="['/car-pooling-user', favLocation.user.id , 'view' ]">{{favLocation.user.firstName}}</a>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="favLocation.destination.id">
                                <a [routerLink]="['/location', favLocation.destination.id , 'view' ]">{{favLocation.destination.city}}
                                </a>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit" [routerLink]="['/fav-location', favLocation.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline">View</span>
                                </button>
                                <button type="submit" [routerLink]="['/fav-location', favLocation.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="submit"
                                    [routerLink]="['/fav-location', { outlets: { popup: favLocation.id + '/delete'} }]"
                                    replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>