<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-fav-location-heading">Add your favorite Location</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option *ngIf="!editForm.get('userId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="carPoolingUserOption.id" *ngFor="let carPoolingUserOption of carpoolingusers; trackBy: trackCarPoolingUserById">{{carPoolingUserOption.firstName}} {{carPoolingUserOption.lastName}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('userId').invalid && (editForm.get('userId').dirty || editForm.get('userId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('userId').errors.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_destination">Destination</label>
                    <select class="form-control" id="field_destination" name="destination" formControlName="destinationId">
                        <option *ngIf="!editForm.get('destinationId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="locationOption.id" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.city}} - ({{locationOption.area}})</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('destinationId').invalid && (editForm.get('destinationId').dirty || editForm.get('destinationId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('destinationId').errors.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
